<%@ page contentType="text/html;charset=UTF-8" pageEncoding="UTF-8" %>
%html
%head
    %link rel="stylesheet" href="${pageContext.request.contextPath}/css/403.less"
    %title Error page

<%@page isErrorPage="true" %>

    .hover
    .background
    .door 403
    .rug
    .foreground
    .bouncer
    .head
    .neck
    .eye.left
    .eye.right
    .ear
    .body
    .arm
    .poles
    .pole.left
    .pole.right
    .rope
