* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: center;
    background: #1177d1;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.navbar {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.navbar a {
    padding: 12px 20px;
    color: white;
    font-size: 11pt;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navbar a:hover {
    background-color: #fff;
    color: #1177d1;
}

.navbar .menu-form {
    margin: 0;
}

.menu-form > input[value] {
    background: transparent;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 11pt;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.menu-form > input[value]:hover {
    background-color: #fff;
    color: #1177d1;
}

.push {
    margin-left: auto;
}

.content {
    min-height: 100vh;
    height: auto;
    background-color: #73B1E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button-group-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Для основных кнопок в контенте */
.content-form > input[value] {
    background: transparent;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 11pt;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.content-form > input[value]:hover {
    background-color: #fff;
    color: #1177d1;
}

.add-form {
    font-size: 11pt;
}

.add-form > input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.add-form > input[type=text]:focus {
    border: 3px solid #555;
}

.add-form > input[type=submit] {
    width: 100%;
    background-color: #1177d1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 0px;
    cursor: pointer;
}

.add-form > input[value]:hover {
    background-color: #fff;
    color: #1177d1;
}

table {
    min-width: 60vw;
    width: auto;
    margin: 10px;
    color: #489CE8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #AFCDE7;
    color: #489CE8;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #73B1E8;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #489CE8;
}

.links a {
    color: #1177d1;
    padding: 12px 20px;
    text-decoration: none;
    text-align: center;
}

.links a:hover {
    background-color: #fff;
    color: #ffb143;
}

.footer {
    height: auto;
    color: black;
    padding: 15px;
    text-align: center;
    background: #ffb143;
}

@media screen and (min-width: 850px) {
    header img, .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: none;
    }

    th, td:first-child {
        background: #AFCDE7;
        color: #489CE8;
        padding: 15px 5px;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 260px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #1177d1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #fff;
        color: #1177d1;
    }
}

@media screen and (max-width: 500px) {
    .links {
        flex-direction: column;
    }
}